body{
	background-color: $white;
}

.name{
	background-image: linear-gradient($white 75%, rgba($white, 0));
}

.section{
	&__header{
		background-image: linear-gradient(to right, $yellow 50%, $white);
	}
}

.projects{	
	&__item{
		&__header{
			background-image: linear-gradient($white 85%, rgba($white, 0));
			transform: translateY(-3rem);
		}
		&__tech{
			background-image: linear-gradient(to right, $gray 50%, $white);
		}
	}
}

.resume,
.courses{
	&__item{
		&__tech{
			& > li:nth-of-type(2n + 1){
				background-image: linear-gradient(to right, $offwhite 50%, $white);
			}
		}
	}
}