body{
	padding: $normal;
}

ul{
	list-style-type: none;
}

.section{
	margin-bottom: $normal;
	&__header{
		background-image: linear-gradient(to right, $yellow, $white);
		margin-left: -$normal;
		padding: $normal $normal 0;
	}
	&__text{
		margin: $normal auto;
		max-width: 70rem;
	}
}

.header{
	padding: $normal;
	&__intro{
		&__anim{
			&--1{
				margin-left: -$small;
			}
			&--4{
				margin-left: -$small;
			}
		}
	}
}

.projects{	
	&__item{
		margin-top: $normal;
		&__tech{
			background-image: linear-gradient(to right, $gray, $white);
			margin: -1.3rem -3rem 0;
			padding-left: $normal;
			& > li{
				display: inline;
				padding: $small;
			}
		}
		&__image{
			margin: $large 0;
			& > img{
				height: auto;
				width: 50vw;
				max-width: 50rem;
			}
		}
		&__button{
			background-color: $white;
			border: .25rem solid $blue;
			box-shadow: 0 .5rem 1rem rgba($gray,.25);
			display: block;
			height: 6.66rem;
			margin: $largest auto;
			width: 20rem;
		}
		&__text{
			margin: 0 auto;
			max-width: 70rem;
		}
	}
}

.resume{
	&__item{
		&__header{
			margin-top: $large;
		}
		&__tech{
			margin-left: $small;
			& > li:nth-of-type(2n + 1){
				background-image: linear-gradient(to right, $offwhite, $white);
				margin-left: -$large;
				padding-left: $large;
			}
		}
	}
}

.contact{
	& > h3:nth-of-type(1){
		margin-top: $normal;
	}
}

.courses{
	margin-left: $small;
	&__item{
		margin-bottom: $large;
		&__tech{
			margin-left: $small;
			& > li:nth-of-type(2n + 1){
				background-image: linear-gradient(to right, $offwhite, $white);
				margin-left: -7rem;
				padding-left: 7rem;
			}
		}
	}
}

.footer{
	&__item{
		padding: $small;
		text-shadow: 0 .125rem .5rem rgba($gray,.25);
	}
}