body{
	padding: $normal;
	@include for-phone-only{
		padding: $smallest;
	}
}

ul{
	list-style-type: none;
}

.name{
	display: block;
	height: 10rem;
	z-index: 1;
}

.links{
	& > a{
		font-size: 3rem;
	}
	
	@include for-phone-only{
		& > a{
			padding: 1rem;
		}
	}
}
.sticky{
	position: -webkit-sticky;
	position: sticky;
	width: 100%;

	&--0{
		top: 0rem;
	}
	&--1{
		top: 10rem;
	}
}

.container{
	margin: 1rem auto;
	max-width: 63rem;

}

.spacer{
	height: 40vh;
	&--right{
		vertical-align: bottom;
	}
}

.section{
	margin-bottom: 10rem;
	&__header{
		margin-left: -$normal;
		padding: $normal $normal 0;
	}
	&__text{
		margin: $larger auto;
		max-width: 70rem;
		padding-top: $normal;
	}
}

.header{
	padding: $normal;
	&__intro{
		@include for-phone-only{
			margin-bottom: $normal;
		}
		&__anim{
			&--1{
				margin-left: -$small;
			}
			&--4{
				margin-left: -$smaller;
			}
		}
	}
}

.projects{	
	&__item{
		margin-top: $normal;
		&__tech{
			margin: 2rem 0;
			padding-left: $normal;
			@include for-phone-only{
				margin: 0;
				padding-left: $normal;
			}
			& > li{
				display: inline;
				padding: $small;
			}
		}
		&__image{
			margin: $large 0;
			& > img{
				height: auto;
				min-width: 45rem;
				width: 50vw;
				max-width: 60rem;
			}
			& > figcaption{
				@include for-phone-only{
					margin: 0 auto;
					width: 70vw;
				}
			}
		}
		&__text{
			margin: 5rem auto;
			max-width: 70rem;
		}
	}
}

.resume{
	&__item{
		&__header{
			margin-top: $large;
		}
		&__tech{
			margin-left: $small;
			& > li:nth-of-type(2n + 1){
				margin-left: -$large;
				padding-left: $large;
			}
		}
	}
}

.contact{
	& > h3:nth-of-type(1){
		margin-top: $normal;
	}
}

.courses{
	margin-left: $small;
	&__item{
		margin-bottom: $large;
		&__tech{
			margin-left: $small;
			& > li:nth-of-type(2n + 1){
				margin-left: -7rem;
				padding-left: 7rem;
			}
		}
	}
}

.footer{
	&__item{
		padding: $small;
	}
}