body{
	color: $gray;
	font-family: $sans;
	font-size: $normal;
	line-height: 1.7;
	@include for-phone-only{
		line-height: 1.2;
	}
}

.name{
	color: $red;
	font-family: $serif;
	font-style: normal;
	font-weight: bold;
}

.section{
	&__header{
		color: $white;
		font-size: $large;
		line-height: 68%;
		&__letter--outline{
			text-shadow: -.25rem -.25rem 0 $yellow;
		}
	}
	&__text{
		text-align: justify;
		text-justify: inter-word;
	}
}

.header{
	text-align: right;
	&__intro{
		font-size: $largest;
		letter-spacing: .1rem;
		@include for-phone-only{
			font-size: 7rem;
			letter-spacing: .05rem;
		}
	}
	&__statement{
		font-size: $large;
		@include for-phone-only{
			font-size: 4rem;
		}
	}
}

.projects{
	&__item{
		&__header{
			font-family: $serif;
			font-size: $large;
		}
		&__tech{
			color: $white;
			font-size: $small;
		}
		&__image{
			text-align: center;
			& > figcaption{
				font-family: $serif;
				font-size: $small;
			}
		}
		&__button{
			color: $blue;
			font-size: $small;
			line-height: $small;
		}
		&__text{
			text-align: justify;
			text-justify: inter-word;
		}
	}
}

.resume{
	&__item{
		&__header{
			font-family: $serif;
			font-size: $large;
		}
	}
}

.courses{
	&__item{
		&__tech{
			font-size: $small;
		}
	}
}

.footer{
	&__item{
		color: $blue;
		font-size: $small;
		text-decoration: none;
		text-shadow: 0 .125rem .5rem rgba($gray,.25);
	}
}

.center{
	text-align: center;
}

.button{
	&__text{
		font-weight: bold;
	}
}