<!DOCTYPE html>
<html>
<head>
	<title>Justin Patten | Projects</title>
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Dosis" rel="stylesheet">
	<link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
	<nav>
		<ul>
			<li>Resume</li>
			<li>Projects</li>
			<li>About</li>
		</ul>
	</nav>
	<header>
		<section>My name.</section>
		<section>What I do.</section>
	</header>
	<section>
		<p>Reason of journey.</p>
		<p>
			How far I've come.
			Link to <a href="#">projects</a>.
		</p>
		<p>How far I want to go.</p>
	</section>
	<footer>
		<ul>
			<li>jpatten1980@yahoo.com</li>
			<li>303.250.6192</li>
			<li>LinkedIn</li>
			<li>YouTube</li>
		</ul>
	</footer>
</body>
</html>
