$color-black: rgba(22, 37, 33, 1);
$color-danger: rgba(244, 43, 3, 1);
$color-emphasis: rgba(24, 224, 211, 1);
$color-gold: rgba(240, 182, 127, 1);
$color-gray: rgba(60, 71, 75, 1);
$color-white: rgba(255, 252, 244, 1);
$font-sans: 'Dosis', sans-serif;
$font-serif: 'Crimson Text', serif;
