$black: rgba(22, 37, 33, 1);
$blue: rgba(24, 224, 211, 1);
$gray: rgba(60, 71, 75, 1);
$offwhite: rgba(255, 245, 219, 1);
$red: rgba(244, 43, 3, 1);
$white: rgba(255, 252, 244, 1);
$yellow: rgba(240, 182, 127, 1);
$sans: 'Roboto', sans-serif;
$serif: 'Cormorant Garamond', serif;
$largest: 8rem;
$larger: 6.5rem;
$large: 5rem;
$normal: 3rem;
$small: 2rem;
$smaller: 1.5rem;
$smallest: .75rem;
// $font-sans: 'Dosis', sans-serif;
// $font-serif: 'Crimson Text', serif;