$black: rgba(22, 37, 33, 1);
$blue: rgba(24, 224, 211, 1);
$gray: rgba(60, 71, 75, 1);
$red: rgba(244, 43, 3, 1);
$white: rgba(255, 252, 244, 1);
$yellow: rgba(240, 182, 127, 1);
$font-sans: 'Roboto', sans-serif;
$font-serif: 'Cormorant Garamond', serif;
$font-largest: 8rem;
$font-larger: 6.5rem;
$font-large: 5rem;
$font-normal: 3rem;
$font-small: 2rem;
$font-smaller: 1.5rem;
$font-smallest: .75rem;
// $font-sans: 'Dosis', sans-serif;
// $font-serif: 'Crimson Text', serif;